<div class="title">
	<p>Please click any options below:</p>
</div>

<div class="links">
	<li><%= link_to "Great Movie this year?",   character_path %></li>
	<li><%= link_to "Who is real Darth Varder?",   spoiler_path %></li>
	<li><%= link_to "Random Movies Galleries?",   galleries_path %></li>
</div>
