<p class="warning">
	<span>Recommendation - Don't miss it! </span>
</p>
<div class="chappies">
	<%= image_tag('chappie_movie2.jpg', size: "500x350") %>
	<%= image_tag('chappie_movie.jpg', size: "500x350") %>
</div>

<div class="back">
	<%= link_to "Back to HomePage", root_path %>
</div>