<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<title>Image Gallery</title>
</head>
<body>
	<h1>Image Gallery</h1>
	<ul id="imageGallery">
		<li><a href="images/lightbox/refferal_machine.png"><img src="images/lightbox/refferal_machine.png" width="100" alt="Refferal Machine By Matthew Spiel"></a></li>
		<li><a href="images/lightbox/space-juice.png"><img src="images/lightbox/space-juice.png" width="100" alt="Space Juice by Mat Helme"></a></li>
		<li><a href="images/lightbox/education.png"><img src="images/lightbox/education.png" width="100" alt="Education by Chris Michel"></a></li>
		<li><a href="images/lightbox/copy_mcrepeatsalot.png"><img src="images/lightbox/copy_mcrepeatsalot.png" width="100" alt="Wanted: Copy McRepeatsalot by Chris Michel"></a></li>
		<li><a href="images/lightbox/sebastian.png"><img src="images/lightbox/sebastian.png" width="100" alt="Sebastian by Mat Helme"></a></li>
		<li><a href="images/lightbox/skill-polish.png"><img src="images/lightbox/skill-polish.png" width="100" alt="Skill Polish by Chris Michel"></a></li>
		<li><a href="images/lightbox/chuck.png"><img src="images/lightbox/chuck.png" width="100" alt="Chuck by Mat Helme"></a></li>
		<li><a href="images/lightbox/library.png"><img src="images/lightbox/library.png" width="100" alt="Library by Tyson Rosage"></a></li>
		<li><a href="images/lightbox/boat.png"><img src="images/lightbox/boat.png" width="100" alt="Boat by Griffin Moore"></a></li>
		<li><a href="images/lightbox/illustrator_foundations.png"><img src="images/lightbox/illustrator_foundations.png" width="100" alt="Illustrator Foundations by Matthew Spiel"></a></li>
		<li><a href="images/lightbox/treehouse_shop.jpg"><img src="images/lightbox/treehouse_shop.jpg" width="100" alt="Treehouse Shop by Eric Smith"></a></li>
	</ul>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>










