<div class="darth">
	<%= image_tag('darth_vader.jpg', size: "600x450") %>
</div>

<p class="spoiler">
	<span>Truth is .....Darth Varder is Luke Skywalker's Daddy!....Noooooooo! </span>
</p>
<p class="spoiler">
	<span>Luke says I am HERE to RESCUE you!</span>
</p>
<p class="spoiler">
	<span>...But I am going to pick up some power converters!</span>
</p>

<div class="back2">
	<%= link_to "Back to HomePage", root_path %>
</div>