/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: url(/assets/bg_image.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.warning {
  background-color: #FFF;
  width: 400px;
  margin: 25px auto 20px;
  border-radius: 2px;
  padding: 18px 18px;
  text-align: center;
  font-size: 25px
}
.warning span {
  color: #256DE1;
  font-family: sans-serif;
  font-weight: bold;
}
.chappies {
  position: absolute;
  top: 18%;
  width: 100%;
  margin-left: 45px;
}

.title, .links {
  color: #FFF;
  font-size: 30px;
  text-align: center;
  margin-top: 80px;

}

.links a {
  text-decoration: none;
  color: #000;
  background-color: #FFF;
  padding: 10px 10px;
  border-radius: 15px;
}
.links a:hover {
  color: #34F5FF;
  background-color: #000;
  transition: 0.55s ease;  
}

.links li {
  list-style: none;
  margin-top: 45px;
}

.back a {
  float: left;
  font-size: 18px;
  margin-top: 465px;
  color: #FFF;
  text-decoration: none;
}

.back a:hover {
  color: #849AE7;
}

.back2 a {
  float: left;
  font-size: 18px;
  margin-top: 75px;
  color: #FFF;
  text-decoration: none;
}

.back2 a:hover {
  color: #849AE7;
}


.darth {
  position: absolute;
  top: 5%;
  width: 100%;
  left: 40%;
}

button {
  background: #FFF;
  border-radius: 5px;
  font-size: 28px;
  border: none;
  width: 350px;
  padding: 15px 10px;
  outline: none;
  cursor: pointer;
}

button:hover {
  color: #FFF;
  background-color: #B80520;
  transition: 0.55s ease;
  padding: 25px 15px;
}

.spoiler {
  background-color: #FFF;
  border-radius: 5px;
  width: 350px;
  margin: 55px;
  padding: 15px 10px;
  font-size: 22px;
}

.spoiler span {
  color: #256DE1;
  width: 450px;
  padding: 25px 15px;
}