<!DOCTYPE html>
<html>
<head>
  <title>Chappie Movie</title>
  <%= javascript_include_tag 'http://code.jquery.com/jquery-1.11.3.min.js' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
	<body>


	<%= yield %>



	<script type="text/javascript">
		$(".warning").hide().show("slow");
	</script>

	</body>
</html>
